<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>For the past 8 years, I have been successfully running my own company.
          My experience has equipped me with excellent problem-solving skills,
          a highly analytical mindset and teamwork. I am currently transitioning into the
          field of data science. </p>
      </div>
      <div class="col-lg-4">
        <p>In my work so far, I have been perfecting data analysis using traditional tools
          like Excel and now for several months I have been intensively exploring Python and SQL.
          I am eager to apply my analytical abilities to help drive
          data-informed decision-making processes. </p>
      </div>
    </div>

    <div class="col-lg-12 text-center">
      <hr class="star-light" style="font-size: 0.6em; border-top: solid 3px">
      <h3>Skills and Technologies</h3>
      <p style="margin-top: 30px;"></p>
      <ul class="list-inline">
        {% for tech in site.techs %}
        <li>
          <img src="{{ tech.image }}" alt="{{ tech.alt }}" style="max-width: 100%; height: auto;">
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</section>
